body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color:  #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #007bff; /* Blue */
}

.maze-input, .solve-options {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input, select, button {
  margin-left: 10px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
}

button:hover {
  background-color: #0056b3;
}

a {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.maze-container, .solution-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
}

.wall {
  background-color: #333;
}

.start {
  background-color: #0f0;
}

.end {
  background-color:  #ff0000;
}

.path {
  background-color: #ff0;
  transition: background-color 2s ease;
}
